<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom" defaultResponseMode="File">
      <remove statusCode="404" />
      <error statusCode="404" path="200.html" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="AddTrailingSlashRule" stopProcessing="true">
          <match url="(.*[^/])$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}/" />
        </rule>
        <rule name="LowerCaseRule" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <action type="Redirect" url="{ToLower:{URL}}" />
        </rule>
        <rule name="ComparisonTool" stopProcessing="true">
          <match url="compare/(.*)" />
          <conditions logicalGrouping="MatchAll">
            <!-- unless its a file -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- or a directory -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <!-- rewrite it to /200.html -->
          <action type="Rewrite" url="/200.html" />
        </rule>
        <rule name="newCarRule" stopProcessing="true">
          <match url="new-car/(.*)" />
          <action type="Redirect" url="/research/{R:1}" logRewrittenUrl="false" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
